<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Login | GramUp</title>

    <link rel="stylesheet" href="/static/css/login.css">

    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
    <script src="/static/js/login.js" defer></script>

</head>

<body>
    <header>
        <h1 class="center">GramUp</h1>
    </header>

    <main>
        <div class="center">
            <h2>Scan the QR code with Telegram app to login</h2>
            <div id="qrcode"></div>
        </div>
    </main>
</body>
</html>
